h2 {
    color: #780067;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
    border-bottom: solid;
    border-width: thin;
    border-color: #780067;

}

h3 {
    color: #780067;
}

kbd {
    background-color: #780067;
}

.panel-body .form .form-group {
    margin: 1em;
}

.sous-titre {
    margin-right: 0;
    margin-top: 0.5em;
}

.btnAdd {
    margin-bottom: 0.3em;
}

.texteTitre {
    width: 100%;
}

#btnModif {
    width: 100%;
}