#titre {
    color: #780067;
}

#logo {
    width: 10em;
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    font-size: 20px;

    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    font-size: 16px;

    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}


.navbar-nav li a {
    font-size: 18px;

    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #780067;
}