#title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    alignment: center;
}

#title > h1 {
    padding-left: 3%;
    margin-left: 3%;
}

#title > img {
    padding-right: 3%;
    margin-right: 3%;
}

#logo_iut {
    height: 50px;
    width: auto;
}

#participants {
    text-align: center;
}

div {
    margin: 0.5%;
    padding: 0.5%;
    text-align: justify;
}

#company {
    display: flex;
    flex-wrap: wrap;
}

#company > p > img {
    max-width: 250px;
    max-height: 110px;
    margin-top: 1.5%;
}

td > img {
    max-width: 400px;
    max-height: 200px;
    margin: 1.5%;
    padding-left: 5%;
    alignment: right;
}
