<!DOCTYPE html>
{% extends "base_admin.html" %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-group .btn").click(function () {
                let inputValue = $(this).find("input").val();
                if (inputValue != 'all') {
                    let target = $('table tr[data-status="' + inputValue + '"]');
                    $("table tbody tr").not(target).hide();
                    target.fadeIn();
                } else {
                    $("table tbody tr").fadeIn();
                }
            });
            // Changing the class of status label to support Bootstrap 4
            let bs = $.fn.tooltip.Constructor.VERSION;
            let str = bs.split(".");
            if (str[0] == 4) {
                $(".label").each(function () {
                    let classStr = $(this).attr("class");
                    let newClassStr = classStr.replace(/label/g, "badge");
                    $(this).removeAttr("class").addClass(newClassStr);
                });
            }
        });

        $('#statusModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal
            let professor = button.data('uname'); // Extract info from data-* attributes
            let uid = button.data('uid'); // Extract info from data-* attributes
            let dptid = button.data('dptid'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            let modal = $(this);
            modal.find('.modal-title').text('Changer le statut de ' + professor);
            modal.find('.modal-body input').val(professor);
            modal.find('#userId').val(uid);
            modal.find('#deptId').val(dptid);

        });

        function confirmation() {
            let id = document.getElementById("userId").value;
            let choice = document.getElementById("role").value;
            let dept = document.getElementById("deptId").value;
            let form = $('<form action="{{ url_for('background_process_staff') }}" method="post">' +
                '<input type="hidden" name="id" value="' + id + '" />' +
                '<input type="hidden" name="choice" value="' + choice + '" />' +
                '<input type="hidden" name="dptid" value="' + dept + '" />' +
                '</form>');
            $('body').append(form);
            form.submit();
        }
    </script>

{% endblock %}
{% block main %}
    <body>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>Gestion <b>Personnels</b></h2></div>
                <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info active">
                            <input type="radio" name="status" value="all" checked="checked"> Tous
                        </label>
                        <label class="btn btn-success">
                            <input type="radio" name="status" value="leader"> Chefs
                        </label>
                        <label class="btn btn-warning">
                            <input type="radio" name="status" value="serv-comm"> Service Communication
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="status" value="prof"> Professeurs
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Département</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for p in profs %}
                {% if p[1] == 1 %}
                    <tr data-status="leader">
                        <td>{{ p[0].id_univ }}</td>
                        <td>{{ p[0].l_name }} {{ p[0].f_name }}</td>
                        <td>{{ p[0].email }}</td>
                        <td>{{ p[2] }}</td>
                        <td><span class="label label-success">Chef de département {{ p[2] }}</span></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#statusModal"
                                    data-uname="{{ p[0].f_name }} {{ p[0].l_name }}" data-uid="{{ p[0].id }}" data-dptid="{{ p[3] }}">
                                Modifier
                            </button>
                        </td>
                    </tr>
                {% endif %}
                {% if p[1] == 2 %}
                    <tr data-status="serv-comm">
                        <td>{{ p[0].id_univ }}</td>
                        <td>{{ p[0].l_name }} {{ p[0].f_name }}</td>
                        <td>{{ p[0].email }}</td>
                        <td>{{ p[2] }}</td>
                        <td><span class="label label-warning">Service Communication</span></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#statusModal"
                                    data-uname="{{ p[0].f_name }} {{ p[0].l_name }}" data-uid="{{ p[0].id }}" data-dptid="{{ p[3] }}">
                                Modifier
                            </button>
                        </td>
                    </tr>
                {% endif %}
                {% if p[1] == 3 %}
                    <tr data-status="prof">
                        <td>{{ p[0].id_univ }}</td>
                        <td>{{ p[0].l_name }} {{ p[0].f_name }}</td>
                        <td>{{ p[0].email }}</td>
                        <td>{{ p[2] }}</td>
                        <td><span class="label label-danger">Professeur</span></td>
                        <td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#statusModal"
                                    data-uname="{{ p[0].f_name }} {{ p[0].l_name }}" data-uid="{{ p[0].id }}" data-dptid="{{ p[3] }}">
                                Modifier
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">Modifier le role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="user-status" class="col-form-label">Statut:</label>
                            <label for="user-id" class="col-form-label"></label>
                            <select name="role" id="role">
                                <option value="3">Professeur</option>
                                <option value="1">Chef de département</option>
                                <option value="2">Service Communication</option>
                            </select>
                            <input type="hidden" id="userId" name="userId">
                            <input type="hidden" id="deptId" name="deptId">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary modal-btn-confirm" data-dismiss="modal"
                            onclick="confirmation()">Confirmer Modification
                    </button>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}