<!DOCTYPE html>
{% extends "base_admin.html" %}
{% block scripts %}
{% endblock %}
{% block main %}
    <body>
    <button type="button" class="btn btn-light">Light</button>
    </body>
{% endblock %}