<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block favicon %}
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% endblock %}
    {% block styles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='commun.css') }}">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar-collapse navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="titre" class="navbar-brand" href="{{ url_for("home") }}">ARC : Projets étudiants</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    {% if tab is undefined %}{% set tab = "home" %}{% endif %}
                    <li id="tab-accueil" {% if tab == "home" %}class="active"{% endif %}><a
                            href="{{ url_for("home") }}">Accueil</a></li>
                    <li id="tab-livrets" {% if tab == "booklets" %}class="active"{% endif %}><a
                            href="{{ url_for("livrets") }}">Livrets</a></li>
                    <li id="tab-projets" {% if tab == "projects" %}class="active"{% endif %}><a
                            href="{{ url_for("projets") }}">Projets</a></li>
                    {% if current_user.is_authenticated %}
                        <li id="tab-my-projets" {% if tab == "my-projects" %}class="active"{% endif %}><a
                                href="{{ url_for("mes_projets") }}">Mes Projets</a></li>
                        {% if 1 in current_user.get_all_roles_ids_cur_year() or 2 in current_user.get_all_roles_ids_cur_year() %}
                            <li id="tab-maquettes" class="{% if tab == "templates" %}active {% endif %}dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Maquettes <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for("maquettes_projets") }}">Maquettes de projets</a></li>
                                    <li><a href="{{ url_for("maquettes_livrets") }}">Maquettes de livrets</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="navbar-header navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li>
                                <a>{{ current_user.f_name }} {{ current_user.l_name }}</a>
                            </li>
                            <li>
                                <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span>
                                    Déconnexion</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>
                                    Connexion</a>
                            </li>
                        {% endif %}
                        <li>
                            <img id="logo" class="img-responsive" alt="logo"
                                 src="{{ url_for('static', filename = 'images/lelogoMin.png') }}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

<div id="main" class="container theme-showcase " role="main">
    {% block main %}{% endblock %}
</div>

{% block scripts %}

    <script>
        {#var tabcur = "tab-accueil";#}
        {#{% block js %}#}
        {#{% endblock %}#}
        {#$(function () {#}
        {#  $("#"+tabcur).addClass("active")#}
        {# })#}

    </script>
{% endblock %}
</body>
</html>
