<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block favicon %}
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block styles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='nav.css') }}">
    {% endblock %}

</head>
<body>
{% block navbar %}
    <nav class="navbar-collapse navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:#780067" class="navbar-brand" href="/gestion">ARC : Projets étudiants -
                    Administration</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/gestion">Gestion des Utilisateurs</a></li>
                    <li class=""><a href="/gestion/manage">Gestion des Administrateurs</a></li>
                </ul>
                <div class="navbar-header navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ url_for('do_admin_logout') }}"><span class="glyphicon glyphicon-log-in"></span>
                                Deconnexion</a>
                        </li>
                        <li>
                            <img style="width:10em;" class="img-responsive" alt="logo"
                                 src="{{ url_for('static', filename = 'images/lelogoMin.png') }}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

<div id="main" class="container theme-showcase " role="main">
    {% block main %}{% endblock %}
</div>

{% block scripts %}
{% endblock %}
</body>
</html>
