<!DOCTYPE html>
{% extends "base.html" %}
{% set tab = "templates" %}
{% block styles %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-lite.js"></script>
{% endblock %}
{% block main %}
    <h1>Édition de maquette de livret</h1>
    <form role="form" method="POST" action="{{ url_for('maquette_livret_edit', index=template.id) }}">
        {{ form.hidden_tag() }}

        <div class="
            {% if form.title.errors %}
            form-group has-error
            {% else %}
            form-group
            {% endif %}
        ">
            {{ form.title.label }} {{ form.title(size=50, class ="form-control") }}
        </div>

        {% if form.title.errors %}
            <ul class="list-group">
                {% for e in form.title.errors %}
                    <li class="list-group-item list-group-item-danger"> {{ e }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="
            {% if form.cover_template.errors %}
            form-group has-error
            {% else %}
            form-group
            {% endif %}
        ">
            {{ form.cover_template.label }} {{ form.cover_template(size=50, class ="form-control") }}
        </div>

        {% if form.cover_template.errors %}
            <ul class="list-group">
                {% for e in form.cover_template.errors %}
                    <li class="list-group-item list-group-item-danger"> {{ e }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="
            {% if form.editorial_template.errors %}
            form-group has-error
            {% else %}
            form-group
            {% endif %}
        ">
            {{ form.editorial_template.label }} {{ form.editorial_template(size=50, class ="form-control") }}
        </div>

        {% if form.editorial_template.errors %}
            <ul class="list-group">
                {% for e in form.editorial_template.errors %}
                    <li class="list-group-item list-group-item-danger"> {{ e }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="
            {% if form.project_template.errors %}
            form-group has-error
            {% else %}
            form-group
            {% endif %}
        ">
            {{ form.project_template.label }} {{ form.project_template(size=50, class ="form-control") }}
        </div>

        {% if form.project_template.errors %}
            <ul class="list-group">
                {% for e in form.project_template.errors %}
                    <li class="list-group-item list-group-item-danger"> {{ e }} </li>
                {% endfor %}
            </ul>
        {% endif %}

        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            $('#cover_template').summernote({
                tabsize: 2,
                height: 100
            });
            $('#editorial_template').summernote({
                tabsize: 2,
                height: 100
            });
            $('#project_template').summernote({
                tabsize: 2,
                height: 100
            });
        });
    </script>
{% endblock %}
