{% extends "base.html" %}
{% set tab = "projects" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='suggestion.css') }}">
{% endblock %}
{% block main %}

    <!--si l'index du projet est nul, alors on creer un nouveau projet-->
    <!--Formulaire d'ajout d'un nouveau projet -->

    <div class="container">
        <div class="row">
            <form action="{{ url_for('projet_edit', index=form.id.data) }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="col-sm-8">
                    <h2>Projet</h2>

                    <div class="form-group sous-titre">
                        <label class="filter-col">{{ form.title.label.text }} :</label>
                        <!--<input type="text" placeholder="ARC : Projets étudiants" title="Intitulé du projet"-->
                        <!--class="form-control input-sm" name="titreProjet" value="{{titreProjet}}">-->
                        {{ form.title(class="form-control input-sm", placeholder="ARC : Projets étudiants") }}
                    </div>

                    <div class="form-group sous-titre">
                        <label class="filter-col">{{ form.customer.label.text }} :</label>
                        <!--<input type="text" placeholder="Université d'Orléans" title="Client commanditaire"-->
                        <!--class="form-control input-sm"-->
                        <!--name="clientProjet" value="">-->
                        {{ form.customer(class="form-control input-sm", placeholder="Université d'Orléans") }}
                    </div>

                    <div class="form-group sous-titre" id="lesEleves">
                        <label class="filter-col texteTitre">Ajouter un étudiant :</label>
                        <button type="button" class="btn btn-default btnAdd" onclick="ajouterChampEleve();">Ajouter un
                            étudiant
                        </button>
                        <button type="button" class="btn btn-default btnAdd" onclick="retirerChampEleve();">Retirer un
                            étudiant
                        </button>
                        <input type="text" placeholder="Adresse mail ou numéro étudiant"
                               class="form-control input-sm" name="etudiantAjoute1" onkeyup="onTypeAddUser(this)">
                    </div>


                    <div class="form-group sous-titre" id="lesProfs">
                        <label class="filter-col texteTitre">Ajouter un Professeur tuteur :</label>
                        {% if tutor_missing %}
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-danger"> {{ tutor_missing }} </li>
                            </ul>
                        {% endif %}
                        <button type="button" class="btn btn-default btnAdd" onclick="ajouterChampProf();">Ajouter un
                            professeur
                        </button>
                        <button type="button" class="btn btn-default btnAdd" onclick="retirerChampProf();">Retirer un
                            professeur
                        </button>
                        <input type="text" placeholder="Adresse mail ou numéro" onkeyup="onTypeAddUser(this)"
                               class="form-control input-sm" name="profTuteur1">

                    </div>

                    <div class="file_button_container sous-titre">
                        <label class="filter-col">Logo client (64 Ko maximum par image) :</label>

                        <div class="form-group">
                            <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         <!--Parcourir… <input type="file" id="imgClient" name="">-->
                         Parcourir… {{ form.image_customer(id="imgClient") }}
                         </span>
                         </span>
                                <input type="text" class="form-control" name="imgP">
                            </div>
                            <img id='img-upload-customer'
                                    {% if project %}
                                        {% if project.image_client %}
                                            src={{ url_for("get_image", id=project.image_client.id) }}
                                        {% endif %}
                                    {% endif %}
                            />


                        </div>

                        <div class="file_button_container sous-titre">
                            <label class="filter-col">Images (64 Ko maximum par image) :</label>

                            <!--test-->

                            <div class="form-group">
                                <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         <!--Parcourir… <input type="file" id="imgInp1">-->
                         Parcourir… {{ form.image1(id="imgClient") }}
                         </span>
                         </span>
                                    <input type="text" class="form-control" name="imgP">
                                </div>
                                <img id='img-upload1'
                                        {% if project %}
                                            {% if project.images|length> 0 %}
                                                src={{ url_for("get_image", id=project.images[0].id) }}
                                            {% endif %}
                                        {% endif %}
                                />


                            </div>

                            <div class="form-group">
                                <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         Parcourir… {{ form.image2(id="imgClient") }}
                         </span>
                         </span>
                                    <input type="text" class="form-control" name="imgP">
                                </div>
                                <img id='img-upload2'
                                        {% if project %}
                                            {% if project.images|length> 1 %}
                                                src={{ url_for("get_image", id=project.images[1].id) }}
                                            {% endif %}
                                        {% endif %}
                                />
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         Parcourir… {{ form.image3(id="imgClient") }}
                         </span>
                         </span>
                                    <input type="text" class="form-control" name="imgP">
                                </div>
                                <img id='img-upload3'
                                        {% if project %}
                                            {% if project.images|length> 2 %}
                                                src={{ url_for("get_image", id=project.images[2].id) }}
                                            {% endif %}
                                        {% endif %}
                                />
                            </div>

                            <!--test-->

                        </div>

                        <h2>Description du projet</h2>

                        <div class="form-group">
                            {{ form.description(class="form-control input-lg", placeholder="Description du projet...", rows=10) }}
                            <!--<textarea placeholder="Description du projet..." class="form-control input-lg"-->
                            <!--name="descProjet"></textarea>-->

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <h2>Suggestions</h2>
                    <div class="panel panel-default">
                        <div class="panel-heading">Commentaires</div>
                        <div class="panel-body">
                            <div id="messagePanel" class="container">


                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input type="text" id="champEnvoyer" class="form-control">
                                    <span class="input-group-btn">
                        <button class="btn btn-default" id="btnEnvoyer" onclick="envoyerMessage();" type="button">Envoyer</button>
                      </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="submit" id="btnModif" class="btn btn-default"
                           value="Soumettre les modifications du projet"/>

                </div>
            </form>
        </div>
    </div>

    <div id="snackbar" class=""> Message envoyé</div>

    <script type="text/javascript" src="{{ url_for('static',filename='js/edition_projet.js') }}"></script>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var cptEleve = 1;
        var cptProf = 1;


        function ajouterChampEleve() {
            //Create an input type dynamically.
            var element = document.createElement("input");
            cptEleve++;
            $("#nb_student").val(cptEleve);
            //Assign different attributes to the element.
            element.setAttribute("type", "text");
            element.setAttribute("name", "etudiantAjoute" + cptEleve);
            element.setAttribute("placeholder", "Adresse mail ou numéro étudiant");
            element.setAttribute("style", "margin-top:0.5em;");
            element.setAttribute("class", "form-control input-sm");
            element.setAttribute("onkeyup", "onTypeAddUser(this)");


            element.style.display = "block";

            var foo = document.getElementById("lesEleves");

            //Append the element in page (in span).
            foo.appendChild(element);
        }

        function retirerChampEleve() {
            var foo = document.getElementById("lesEleves");
            if (foo.childNodes.length > 9) {
                foo.removeChild(foo.lastChild);
                cptEleve--;
                $("#nb_student").val(cptEleve);
            }
        }

        function ajouterChampProf() {
            cptProf++;
            $("#nb_tutor").val(cptProf);
            //Create an input type dynamically.
            var element = document.createElement("input");

            //Assign different attributes to the element.
            element.setAttribute("type", "text");
            element.setAttribute("name", "profTuteur" + cptProf);
            element.setAttribute("placeholder", "Adresse mail ou numéro");
            element.setAttribute("style", "margin-top:0.5em;");
            element.setAttribute("class", "form-control input-sm");
            element.setAttribute("onkeyup", "onTypeAddUser(this)");

            element.style.display = "block";

            var foo = document.getElementById("lesProfs");

            //Append the element in page (in span).
            foo.appendChild(element);
        }

        function retirerChampProf() {
            var foo = document.getElementById("lesProfs");
            if (foo.childNodes.length > 9) {
                foo.removeChild(foo.lastChild);
                cptProf--;
                $("#nb_tutor").val(cptProf);
            }
        }

        function envoyerMessage() {
            let message = [{{idUser}}, $("#champEnvoyer").val()];
            let messageData = JSON.stringify(message);

            $.ajax(
                {
                    //url: "http://localhost:5000/projet/edit/{{form.id.data}}/send_message",
                    url: "{{url_for("projet_send_message",index=form.id.data)}}",
                    type: 'POST',
                    contentType: "application/json",
                    //data: "message="+JSON.stringify(message),
                    //data: "message=truc",
                    //data: {"message":"test"},
                    data: messageData,
                    dataType: 'json',
                    success: function (msg) {
                        $("#champEnvoyer").val("");
                        scrollDown();
                        $("#snackbar").addClass("show");
                        setTimeout(function () {
                            $("#snackbar").removeClass("show");
                        }, 3000);
                    },
                    error: function (err) {
                        console.log(err);
                        alert("Le message n'a pas pu être envoyé");
                    }
                });
            afficherMsg({{form.id.data}});
        }

        window.setInterval(function () {
            afficherMsg({{form.id.data}})
        }, 500);

        $(document).ready(function () {

            var input = document.getElementById("champEnvoyer");
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("btnEnvoyer").click();
                }
            });

            afficherMsg({{idProj}});

            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {
                var input = $(this).parents('.input-group').find(':text'),
                    log = label;
                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }
            });

            window.onload = function () {
                scrollDown()
            };


            function readURL(input, idimg) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#' + idimg).attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                reader.readAsDataURL(input.files[0]);
            }

            $("#imgInp1").change(function () {
                readURL(this, "img-upload1");
            });
            $("#imgInp2").change(function () {
                readURL(this, "img-upload2");
            });
            $("#imgInp3").change(function () {
                readURL(this, "img-upload3");
            });
        });


    </script>
{% endblock %}
