{% extends "base.html" %}
{% set tab = "booklets" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='suggestion.css') }}">
{% endblock %}
{% block main %}

    <!--si l'index du projet est nul, alors on creer un nouveau projet-->
    <!--Formulaire d'ajout d'un nouveau projet -->

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Livret</h2>

                <div class="form-group">
                    <label style="margin-right:0;">Choix de maquette :</label>
                    <select class="form-control">
                        <option>Super Maquette</option>
                        <option>Super Maquette 2</option>
                        <option>Super Maquette 3</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="filter-col" style="margin-right:0;">Titre :</label>
                    <input type="text" placeholder="Projets de 2019" title="Intitulé du livret"
                           class="form-control input-sm" name="titreLivret">
                </div>

                <div class="file_button_container">
                    <label class="filter-col" style="margin-right:0;">Image(s) :</label>

                    <!--test-->

                    <div class="form-group">
                        <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         Parcourir… <input type="file" id="imgInp1">
                         </span>
                         </span>
                            <input type="text" class="form-control" name="imgP">
                        </div>
                        <img id='img-upload1'/>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         Parcourir… <input type="file" id="imgInp2">
                         </span>
                         </span>
                            <input type="text" class="form-control" name="imgP">
                        </div>
                        <img id='img-upload2'/>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                         <span class="input-group-btn">
                         <span class="btn btn-default btn-file">
                         Parcourir… <input type="file" id="imgInp3">
                         </span>
                         </span>
                            <input type="text" class="form-control" name="imgP">
                        </div>
                        <img id='img-upload3'/>
                    </div>

                    <!--test-->

                </div>

                <h2>Edito du livret</h2>

                <div class="form-group">
                <textarea placeholder="Edito..." class="form-control input-lg"
                          name="editoLivret">

                </textarea>
                </div>

                <button style="width:100%;" class="btn btn-default">Soumettre les modifications du livret</button>

            </div>

            <div class="col-sm-6">
                <h2>Projets</h2>

                <div style="overflow-x:auto; overflow-y:auto; max-height:13em; min-height:13em;" class="container"
                     id="lesProjets">

                    <label class="filter-col" id="projetPresent">Aucun projet dans le livret</label>

                </div>


                <!--Ici, parametre de recherche-->
                <h2> Ajouter un projet </h2>
                <div class="container">
                    <div class="row">
                        <div id="filter-panel" class="filter-panel">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <form class="form" role="form">
                                        <!--Input recherche-->
                                        <div class="form-group">
                                            <label class="filter-col" style="margin-right:0;">Nom :</label>
                                            <input type="text" class="form-control input-sm" name="nomLivret">
                                        </div>

                                        <!--input date-->

                                        <div class="form-group">
                                            <label style="margin-right:0;">Entre le :</label>
                                            <input type="date" class="form-control " name="dateMinLivret"
                                                   title="Date minimum">
                                        </div>
                                        <div class="form-group">
                                            <label style="margin-right:0;">Et le :</label>
                                            <input type="date" class="form-control " name="dateMaxLivret"
                                                   title="Date maximum">
                                        </div>

                                        <!-- form group [search] -->
                                        <div class="form-group">
                                            <label style="margin-right:0;">Département :</label>
                                            <select class="form-control">

                                                <!--boucle pour chaque departement -->
                                                <option>Informatique</option>

                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label style="margin-right:0;">Tuteur :</label>
                                            <input type="text" class="form-control input-sm" name="createur">
                                        </div>

                                        <!-- form group [order by] -->
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default filter-col">
                                                <span class="glyphicon glyphicon-record"></span> Lancer recherche
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--fin de param recherche-->

                <!--Affichage des projets-->

                <div style="overflow-x:auto; overflow-y:auto; max-height:30em;" class="container">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Département</th>
                            <th>Date</th>
                            <th>Étudiant(s)</th>
                            <th>Tuteur(s)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <!--pour chaque projet de la liste des projets-->

                        <!--<tr>-->
                        <!--<td>John</td>-->
                        <!--<td>Doe</td>-->
                        <!--<td>john@example.com</td>-->
                        <!--</tr>-->
                        {% for project in projects %}

                            <tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">
                                <td>{{ project.title }}</td>
                                <td>Informatique</td>
                                <td>{{ project.creation_date }}</td>
                                <td>
                                    {% for user in project.users %}
                                        <p>{{ user.f_name }} {{ user.l_name }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for tutor in project.tutors %}
                                        <p>{{ tutor.f_name }} {{ tutor.l_name }}</p>
                                    {% endfor %}
                                </td>
                                <td><a href="{{ url_for('project_dl', index=project.id) }}" class="btn btn-default">Afficher</a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>

                </div>


            </div>


        </div>


    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var cptProjet = 0;


        function ajouterProjet() {
            cptProjet++;
//Create an input type dynamically.
            var element = document.createElement("p");
            element.innerHTML = "Nom du projet";
//Assign different attributes to the element.
            element.setAttribute("id", "projetAjoute" + cptProjet);
            element.setAttribute("style", "margin-top:0.5em;");


            let btnSuppr = document.createElement("button");
            btnSuppr.setAttribute("class", "btn btn-default");
            btnSuppr.innerHTML = "Supprimer";
            btnSuppr.setAttribute("id", "projetAjoute" + cptProjet + "Btn");

            let btnBefore = document.createElement("button");
            btnBefore.setAttribute("class", "btn btn-default");
            btnBefore.innerHTML = "Déplacer vers l'avant";
            btnBefore.setAttribute("id", "projetAjoute" + cptProjet + "BtnBefore");

            let btnAfter = document.createElement("button");
            btnAfter.setAttribute("class", "btn btn-default");
            btnAfter.innerHTML = "Déplacer vers l'arrière";
            btnAfter.setAttribute("id", "projetAjoute" + cptProjet + "BtnAfter");

            var cptActuel = cptProjet;
            btnSuppr.setAttribute("onclick", "retirerProjet('projetAjoute" + cptProjet + "')");


            var textProjet = document.getElementById("projetPresent");
            textProjet.innerHTML = "Projets dans le livret :";

            var foo = document.getElementById("lesProjets");

//Append the element in page (in span).
            foo.appendChild(element);
            foo.appendChild(btnAfter);
            foo.appendChild(btnSuppr);
            foo.appendChild(btnBefore);

        }

        function retirerProjet(projetID) {
            cptProjet--;
            console.log("orderAfter" + projetID + "Btn");
            var element = document.getElementById(projetID);
            element.parentNode.removeChild(element);
            var element = document.getElementById(projetID + "Btn");
            element.parentNode.removeChild(element);
            var element = document.getElementById(projetID + "BtnAfter");
            element.parentNode.removeChild(element);
            var element = document.getElementById(projetID + "BtnBefore");
            element.parentNode.removeChild(element);


            if (cptProjet == 0) {
                var textProjet = document.getElementById("projetPresent");
                textProjet.innerHTML = "Aucun projet dans le livret";
            }

        }


        function activer(element) {
            element.style.backgroundColor = '#780067';
            element.style.color = 'white';
        }

        function desactiver(element) {
            element.style.backgroundColor = 'white';
            element.style.color = 'black';
        }

        <!--test-->

        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;


                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });


            function readURL(input, idimg) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {

                        $('#' + idimg).attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);

                }

            }

            $("#imgInp1").change(function () {
                readURL(this, "img-upload1");
            });
            $("#imgInp2").change(function () {
                readURL(this, "img-upload2");
            });
            $("#imgInp3").change(function () {
                readURL(this, "img-upload3");
            });
        });
        <!--test-->
    </script>
{% endblock %}
