{% extends "base.html" %}
{% set tab = "home" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='carousel.css') }}">
{% endblock %}
{% block main %}
    <div class="container">

        <h2>Accueil</h2>
        <img style="width:20em; margin-bottom:1em;" class="img-responsive" alt="univ"
             src="{{ url_for('static', filename = 'images/IUTOuniv.png') }}">
        <p> Bienvenue sur le site de génération de livrets de l'université d'Orléans.</p>
        <p>Sur <abbr title="Accés rapide au codex de projets.">ARC</abbr> : Projets étudiants, vous trouverez des
            livrets
            téléchargeables au format pdf regroupant les projets réalisés par les étudiants durant leurs formations à
            l'université d'Orléans.
        </p>
        <p>
            L'onglet <kbd>Livrets</kbd> vous permettra de consulter tous les
            <abbr title="Fichier pdf regroupant different projets étudiants.">livrets</abbr>.
        </p>
        <p>
            L'onglet <kbd>Projets</kbd> vous permettra de consulter tous les projets publiques.
        </p>

    </div>
    <!--Affichage des projets mis en avant par le directeur d'étude-->

    <div class="container">
    <!--<h3>Projets mis en avant</h3>-->

    <!--<div style="width:auto; overflow-x:auto;" class="row">-->
    <!--<div class="col-sm-4">-->
    <!--<div class="thumbnail">-->
    <!--<a href="{{ url_for('static',filename='images/lelogoMin.png')}}">-->
    <!--<img src="{{ url_for('static',filename='images/lelogoMin.png')}}" alt="Lights" style="width:10%">-->
    <!--<div class="caption">-->
    <!--<p>Lorem ipsum...</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<div class="thumbnail">-->
    <!--<a href="{{ url_for('static',filename='images/lelogoMin.png')}}">-->
    <!--<img src="{{ url_for('static',filename='images/lelogoMin.png')}}" alt="Lights" style="width:10%">-->
    <!--<div class="caption">-->
    <!--<p>Lorem ipsum...</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
    <!--<div class="thumbnail">-->
    <!--<a href="{{ url_for('static',filename='images/lelogoMin.png')}}">-->
    <!--<img src="{{ url_for('static',filename='images/lelogoMin.png')}}" alt="Lights" style="width:10%">-->
    <!--<div class="caption">-->
    <!--<p>Lorem ipsum...</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--CAROUSELLE EXEMPLE TEST -->
    <h3>Projets mis en avant</h3>
    <div class="row">
    <div class="col-xs-11 col-md-10 col-centered">


        <!-- TEST  -->

        <div id="Carousel" class="carousel slide">


            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for i in range(promoted_projects|length) %}
                    {% if i==0 %}
                        <div class="item active">
                    {% else %}
                        <div class="item">
                    {% endif %}
                <div class="row">
                    {% for project in promoted_projects[i] %}
                        <div class="col-md-3"><a href="/projet/edit/{{ project.id }}" class="thumbnail"><img
                                src="{{ url_for('get_image', id = project.image_client.id) }}" alt="{{ project.title }}"
                                style="max-width:100%;"></a>
                            <div class="caption text-center">
                                <span>{{ project.title }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% endfor %}


                </div><!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
            </div><!--.Carousel-->
        </div>
    </div>
    <script>
        function activer(element) {
            element.style.backgroundColor = '#780067';
            element.style.color = 'white'
        }

        function desactiver(element) {
            element.style.backgroundColor = 'white';
            element.style.color = 'black';
        }
    </script>
{% endblock %}
