{% extends "base.html" %}
{% set tab = "booklets" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
{% endblock %}
{% block main %}
    <h3>Liste des livrets</h3>

    <!--Ici, parametre de recherche-->

    <div class="container">
        <div class="row">
            <div id="filter-panel" class="filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form" method="GET" action="{{ url_for('livrets') }}">
                            {{ form.hidden_tag() }}
                            <!--Input recherche-->
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;">{{ form.name.label.text }} :</label>
                                <!--<input type="text" class="form-control input-sm" name="nomLivret">-->
                                {{ form.name(class="form-control input-sm") }}
                            </div>

                            <!--input date-->

                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.date_start.label.text }} :</label>
                                <!--<input type="date" class="form-control " name="dateMinLivret" title="Date minimum">-->
                                {{ form.date_start(class="form-control ") }}
                            </div>
                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.date_end.label.text }} :</label>
                                <!--<input type="date" class="form-control " name="dateMaxLivret" title="Date maximum">-->
                                {{ form.date_end(class="form-control ") }}
                            </div>

                            <!-- form group [search] -->
                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.department.label.text }} :</label>
                                <!--<select class="form-control">-->

                                <!--&lt;!&ndash;boucle pour chaque departement &ndash;&gt;-->
                                <!--<option>Informatique</option>-->

                                <!--</select>-->
                                {{ form.department(class="form-control") }}
                            </div>

                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.creator.label.text }} :</label>
                                <!--<input type="text" class="form-control input-sm" name="createur">-->
                                {{ form.creator(class="form-control input-sm") }}
                            </div>

                            <!-- form group [order by] -->
                            <div class="form-group">
                                <!--<button type="submit" class="btn btn-default filter-col">-->
                                <!--<span class="glyphicon glyphicon-record"></span> Lancer recherche-->
                                <!--</button>-->
                                <input class="btn btn-default filter-col" type="submit" value="Lancer recherche">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--fin de param recherche-->

    <!--Affichage des livrets-->

    <div class="container">
        <h3>Livrets</h3>
        <!--add booklet button-->
        {% if current_user.is_authenticated %}
            <form method="post" action="{{ url_for("livrets") }}">
            <button class="btn btn-light" type="submit">Créer un livret</button>
        {% endif %}
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Departement</th>
                <th>Créateur</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <!--pour chaque livret de la liste des livrets-->

            <!--<tr>-->
            <!--<td>John</td>-->
            <!--<td>Doe</td>-->
            <!--<td>john@example.com</td>-->
            <!--</tr>-->
            {% for booklet in booklets %}
                <tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">
                    <td>{{ booklet.title }}</td>
                    <td>{{ booklet.creation_date }}</td>
                    <td>
                        {% for dep in dicoLivret[booklet.id] %}
                            <p>{{ dep }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        <p>{{ booklet.user.f_name }} {{ booklet.user.l_name }}</p>

                    </td>
                    <td><a href="{{ url_for('livret_edit', index=booklet.id) }}" class="btn btn-default">Afficher</a>
                    </td>
                </tr>
            {% endfor %}

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets de l'année 2019</td>-->
            <!--<td>2019-01-14</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>Patrice</td>-->
            <!--<td><a href="/livret/edit/0" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            </tbody>
        </table>

    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function activer(element) {
            element.style.backgroundColor = '#780067';
            element.style.color = 'white'
        }

        function desactiver(element) {
            element.style.backgroundColor = 'white';
            element.style.color = 'black';
        }
    </script>
{% endblock %}
