{% extends "base.html" %}
{% block main %}
    <form method="post" action="{{ url_for("login") }}">
        <div class="form-group">
            <label for="cas_id">CAS ID</label>
            {{ form.cas_id }}
        </div>
        {{ form.hidden_tag() }}
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
{% endblock %}