<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='login_admin.css') }}" type="text/css">
    <title>Gestion - Connexion</title>
</head>
<body>
{% block body %}
    {% if session['logged_in'] %}
        Vous êtes déjà connecté !
    {% else %}
        <form action="{{ url_for('do_admin_login') }}" method="POST">
            <div class="login">
                <div class="login-screen">
                    <div class="app-title">
                        <h1>Connexion</h1>
                    </div>
                    <div class="login-form">
                        <div class="control-group">
                            <input type="text" class="login-field" value="" placeholder="Nom d'utilisateur"
                                   name="username">
                            <label class="login-field-icon fui-user" for="login-name"></label>
                        </div>
                        <div class="control-group">
                            <input type="password" class="login-field" value="" placeholder="Mot de passe"
                                   name="password">
                            <label class="login-field-icon fui-lock" for="login-pass"></label>
                        </div>
                        <input type="submit" value="Se connecter" class="btn btn-primary btn-large btn-block">
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
</body>
</html>