{% extends "base.html" %}
{% set tab = "templates" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
{% endblock %}
{% block main %}
    <h3>Liste des maquettes de projets</h3>

    <!--Ici, parametre de recherche-->

    <div class="container">
        <div class="row">
            <div id="filter-panel" class="filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form">
                            <!--Input recherche-->
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;">Nom :</label>
                                <input type="text" class="form-control input-sm" name="nomLivret">
                            </div>

                            <!--input date-->

                            <div class="form-group">
                                <label style="margin-right:0;">Entre le :</label>
                                <input type="date" class="form-control " name="dateMinLivret" title="Date minimum">
                            </div>
                            <div class="form-group">
                                <label style="margin-right:0;">Et le :</label>
                                <input type="date" class="form-control " name="dateMaxLivret" title="Date maximum">
                            </div>

                            <!-- form group [search] -->
                            <div class="form-group">
                                <label style="margin-right:0;">Département :</label>
                                <select class="form-control">

                                    <!--boucle pour chaque departement -->
                                    <option>Informatique</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label style="margin-right:0;">Tuteur :</label>
                                <input type="text" class="form-control input-sm" name="createur">
                            </div>

                            <!-- form group [order by] -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-default filter-col">
                                    <span class="glyphicon glyphicon-record"></span> Lancer recherche
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--fin de param recherche-->

    <!--Affichage des maquettes-->

    <div class="container">
        <h3>Maquettes</h3>
        {% if current_user.is_authenticated %}
            <form method="post" action="{{ url_for("maquettes_projets") }}">
                <button class="btn btn-light" type="submit">Créer une maquette de projets</button>
            </form>
        {% endif %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Créateur</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <!--pour chaque maquette de la liste des maquettes-->

            <!--<tr>-->
            <!--<td>John</td>-->
            <!--<td>Doe</td>-->
            <!--<td>john@example.com</td>-->
            <!--</tr>-->
            {% for p in project_template %}
                <tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">
                    <td>{{ p.name }}</td>
                    <td><!--p.creation_date-->Date de création</td>
                    <td>{{ p.user.f_name }} {{ p.user.l_name }}</td>
                    <td><a href="{{ url_for('maquette_projet_dl', index=p.id) }}" class="btn btn-default">Afficher</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function activer(element) {
            element.style.backgroundColor = '#780067';
            element.style.color = 'white'
        }

        function desactiver(element) {
            element.style.backgroundColor = 'white';
            element.style.color = 'black';
        }
    </script>
{% endblock %}
