{% extends "base.html" %}
{% set tab = "my-projects" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='livrets.css') }}">
{% endblock %}
{% block main %}
    <h3>Liste des projets</h3>

    <!--Ici, parametre de recherche-->

    <div class="container">
        <div class="row">
            <div id="filter-panel" class="filter-panel">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-inline" role="form" method="GET" action="{{ url_for('mes_projets') }}">
                            {{ form.hidden_tag() }}
                            <!--Input recherche-->
                            <div class="form-group">
                                <label class="filter-col" style="margin-right:0;">{{ form.name.label.text }} :</label>
                                <!--<input type="text" class="form-control input-sm" name="nomLivret">-->
                                {{ form.name(class="form-control input-sm") }}
                            </div>

                            <!--input date-->

                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.date_start.label.text }} :</label>
                                <!--<input type="date" class="form-control " name="dateMinLivret" title="Date minimum">-->
                                {{ form.date_start(class="form-control ") }}
                            </div>
                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.date_end.label.text }} :</label>
                                <!--<input type="date" class="form-control " name="dateMaxLivret" title="Date maximum">-->
                                {{ form.date_end(class="form-control ") }}
                            </div>

                            <!-- form group [search] -->
                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.department.label.text }} :</label>
                                <!--<select class="form-control">-->

                                <!--&lt;!&ndash;boucle pour chaque departement &ndash;&gt;-->
                                <!--<option>Informatique</option>-->

                                <!--</select>-->
                                {{ form.department(class="form-control") }}
                            </div>

                            <div class="form-group">
                                <label style="margin-right:0;">{{ form.tutor.label.text }} :</label>
                                <!--<input type="text" class="form-control input-sm" name="createur">-->
                                {{ form.tutor(class="form-control input-sm") }}
                            </div>

                            <!-- form group [order by] -->
                            <div class="form-group">
                                <!--<button type="submit" class="btn btn-default filter-col">-->
                                <!--<span class="glyphicon glyphicon-record"></span> Lancer recherche-->
                                <!--</button>-->
                                <input class="btn btn-default filter-col" type="submit" value="Lancer recherche">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--fin de param recherche-->

    <!--Affichage des projets-->

    <div class="container">
        <h3>Mes Projets</h3>

        {% if current_user.is_authenticated %}
            <form method="get" action="{{ url_for("projet_edit", index=0) }}">
            <button class="btn btn-light" type="submit">Créer un projet</button>
        {% endif %}

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Département</th>
                <th>Date</th>
                <th>Étudiant(s)</th>
                <th>Tuteur(s)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <!--pour chaque projet de la liste des projets-->

            <!--<tr>-->
            <!--<td>John</td>-->
            <!--<td>Doe</td>-->
            <!--<td>john@example.com</td>-->
            <!--</tr>-->

            {% for project in projects %}

                <tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">
                    <td>{{ project.title }}</td>
                    <td>
                        {% for dep in dicoProjets[project.id] %}
                            <p>{{ dep }}</p>
                        {% endfor %}
                    </td>
                    <td>{{ project.creation_date }}</td>
                    <td>
                        {% for user in project.users %}
                            <p>{{ user.f_name }} {{ user.l_name }}</p>
                        {% endfor %}
                    </td>
                    <td>
                        {% for tutor in project.tutors %}
                            <p>{{ tutor.f_name }} {{ tutor.l_name }}</p>
                        {% endfor %}
                    </td>
                    <td><a href="{{ url_for('project_dl', index=project.id) }}" class="btn btn-default">Afficher</a>
                    </td>
                </tr>

            {% endfor %}

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="/projet/edit/1" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            <!--<tr class="livret" onmouseover="activer(this)" onmouseout="desactiver(this)">-->
            <!--<td>Projets livret ARC</td>-->
            <!--<td>Informatique</td>-->
            <!--<td>2018-10-14</td>-->
            <!--<td><p>Thomas Quetier</p>-->
            <!--<p>Loris Perdereau</p>-->
            <!--<p>Lucas Moret-Bailly</p></td>-->
            <!--<td>Sébastien Limet</td>-->
            <!--<td><a href="#" class="btn btn-default">Afficher</a></td>-->
            <!--</tr>-->

            </tbody>
        </table>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function activer(element) {
            element.style.backgroundColor = '#780067';
            element.style.color = 'white'
        }

        function desactiver(element) {
            element.style.backgroundColor = 'white';
            element.style.color = 'black';
        }
    </script>
{% endblock %}
