<!--Project template #1-->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='project_template_1.css') }}">
</head>
<body>
<header>
    <div id="title">
        <img id="logo_iut" src="{{ url_for('static',filename='images/IUTOuniv.png') }}" alt="Logo IUT'O">
        <h1> {{ title }}</h1>
    </div>
</header>

<div id="participants">
    <p>
        {% for u in project_participants %}
            {{ u.f_name }} {{ u.l_name }},
        {% endfor %}
    </p>
</div>

<div id="company">
    <p><img src="{{ company_image }}" alt="Logo de l'entreprise"> {{ company_name }}</p>
</div>

<div id="content">
    <table>
        <tr>
            <td><p>{{ paragraph }}</p></td>
            <td><img src="{{ image1 }}"></td>
        </tr>
        <tr>
            <td><img src="{{ image2 }}"></td>
            <td><img src="{{ image3 }}"></td>
        </tr>
    </table>
</div>